@model Spells.Models.Usuario

@{
    ViewData["Title"] = "Details";
    var userName = @Html.DisplayFor(model => model.Nome);
}
<style>
    .center {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .popup {
        color: #000;
    }

    .header {
        display: flex;
        justify-content: space-between;
        padding: 4rem;
    }

    .pfp {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    img {
        background: #fff;
        border-radius: 50%;
    }

    .subtext {
        padding-left: 1rem;
    }

    .edit {
        color: #6f29e9;
    }

    .card {
        border: 1px solid #ccc;
        border-radius: 0.5em;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        margin: 1em;
        padding: 1em;
        background-color: #fff;
        transition: transform 0.2s;
        width: 250px; /* Tamanho padrão para os cards */
    }

    .card:hover {
        transform: scale(1.05);
    }

    .card-title {
        font-size: 1.25em;
        font-weight: bold;
        margin-bottom: 0.5em;
        color: #333; /* Ensure the text color is visible */
    }

    .card-content {
        font-size: 1em;
        color: #666;
    }

    .align-right {
        justify-content: flex-end; /* Alinha o botão à direita */
    }
</style>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Spells</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/Spells.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="./css/site.css" />
    <script async defer src="https://cdn.tailwindcss.com"></script>
    <script async defer src="https://buttons.github.io/buttons.js"></script>
</head>

<div>
    <hr />
    <div class="header">
        <div class="pfp">
            <img src="https://robohash.org/@userName" alt="@userName foto de perfil" />
            <div class="subtext">
                <h1 class="max-w-2xl mb-4 text-4xl font-extrabold leading-none tracking-tight md:text-5xl xl:text-6xl dark:text-white dark:bg-gray-900">@Html.DisplayFor(model => model.Nome)</h1>
                <p>Oi, estou usando o SpellScroll</p>
                <a class="edit" asp-action="Edit" asp-route-id="@Model?.Id">Editar Perfil</a>
            </div>
        </div>
        <!--Botão Popup Compartilhar-->
        <div id="shareButton" class="btn-compartilhar">
            <a href="#" class="text-white bg-purple-700 hover:bg-purple-800 focus:ring-4 focus:ring-purple-300 font-medium rounded-lg text-sm px-4 lg:px-5 py-2 lg:py-2.5 sm:mr-2 lg:mr-10 dark:bg-purple-600 dark:hover:bg-purple-700 focus:outline-none dark:focus:ring-purple-800">Compartilhar</a>
        </div>
    </div>
</div>

<div class="pt-8 pb-8">
    <div class="flex align-center gap-4 align-right">
        <a id="favoriteSpellButton" class="text-white bg-purple-700 hover:bg-purple-800 focus:ring-4 focus:ring-purple-300 font-medium rounded-lg text-sm px-4 lg:px-5 py-2 lg:py-2.5 sm:mr-2 lg:mr-10 dark:bg-purple-600 dark:hover:bg-purple-700 focus:outline-none dark:focus:ring-purple-800 center">
            Exibir Magias favoritas
        </a>
    </div>
    <div id="favorite-spells-container" class="flex flex-wrap">
    </div>
</div>

<div>
    <main role="main" class="pb-3">
        <div id="popup" class="popup">
            <link rel="stylesheet" href="popup-compartilhamento.css">
            <span onclick="closePopup()" style="position: absolute; top: 5px; right: 10px; cursor: pointer;">X</span>
            <p>Compartilhe suas magias favoritas:</p>
            <input type="text" id="linkInput" readonly>
            <button class="text-white bg-purple-700 hover:bg-purple-800 focus:ring-4 focus:ring-purple-300 font-medium rounded-lg text-sm px-4 lg:px-5 py-2 lg:py-2.5 sm:mr-2 lg:mr-10 dark:bg-purple-600 dark:hover:bg-purple-700 focus:outline-none dark:focus:ring-purple-800" onclick="copyLink()">Copiar</button>
        </div>
    </main>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        document.getElementById("favorite-spells-container").style.display = "none"; // Initially hide the list

        document.getElementById("favoriteSpellButton").addEventListener("click", function () {
            var container = document.getElementById("favorite-spells-container");
            if (container.style.display === "none") {
                getFavoriteSpell();
            } else {
                container.style.display = "none";
            }
        });

        function getFavoriteSpell() {
            var userId = sessionStorage.getItem("userId");
            $.ajax({
                type: "GET",
                url: "/FavoriteSpells/User/" + userId,
                data: {
                    UserId: userId
                },
                success: function (response) {
                    console.log(response);
                    renderFavoriteSpells(response);
                    document.getElementById("favorite-spells-container").style.display = "flex"; // Show the list when spells are loaded
                },
                error: function (error) {
                    console.error('Error:', error);
                    document.getElementById("favorite-spells-container").innerHTML = '<p>Error loading favorite spells.</p>';
                    document.getElementById("favorite-spells-container").style.display = "flex"; // Show the error message
                }
            });
        }

        function renderFavoriteSpells(spells) {
            var container = document.getElementById("favorite-spells-container");
            container.innerHTML = ''; // Clear any existing content

            if (spells && spells.length > 0) {
                spells.forEach(function (spell) {
                    var card = document.createElement("div");
                    card.className = "card";
                    var cardTitle = document.createElement("div");
                    cardTitle.className = "card-title";
                    cardTitle.textContent = spell.spellId; 
                    var cardContent = document.createElement("div");
                    cardContent.className = "card-content";
                    cardContent.innerHTML = '<a href="/Spells/Details/' + spell.spellId + '">Ver detalhes</a>'; // Use 'id' to link to the details page

                    card.appendChild(cardTitle);
                    card.appendChild(cardContent);
                    container.appendChild(card);
                });
            } else {
                container.innerHTML = '<p>No favorite spells found for this user.</p>';
            }
        }
    });

    document.getElementById("shareButton").addEventListener("click", async function () {
        document.getElementById("popup").style.display = "block";
        var userId = sessionStorage.getItem("userId");
        document.getElementById("linkInput").value = "https://spellsscroll.azurewebsites.net/Usuarios/Details/" + userId;
    });

    function closePopup() {
        document.getElementById("popup").style.display = "none";
    }

    function copyLink() {
        var linkInput = document.getElementById("linkInput");
        linkInput.select();
        document.execCommand("copy");
        alert("Link copiado para a área de transferência!");
    }
</script>
