@model Spells.Models.Usuario

@{
    ViewData["Title"] = "Login";
}

<div class="main-container">
    <div class="content">
        <div class="login-container">
            <div class="login-box">
                <h2>Login</h2>
                <form asp-action="Login">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="input-group form-group">
                        <label asp-for="Id" class="control-label"></label>
                        <input asp-for="Id" class="form-control" />
                        <span asp-validation-for="Id" class="text-danger"></span>
                    </div>
                    <div class="input-group form-group">
                        <label asp-for="Senha" class="control-label"></label>
                        <input asp-for="Senha" class="form-control" />
                        <span asp-validation-for="Senha" class="text-danger"></span>
                    </div>
                    <div class="button-container">
                        <input type="submit" value="Acessar" class="btn btn-primary login-button" />
                    </div>
                </form>
                <h3>@ViewBag.Message</h3>
            </div>
        </div>
    </div>
</div>

<style>
    body {
        font-family: Arial, sans-serif;
        background-color: #f4f4f9;
        margin: 0;
    }

    .main-container {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
    }

    .content {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .login-container {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        max-width: 400px;
    }

    .login-box {
        background-color: white;
        padding: 50px;
        border-radius: .5rem;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        width: 100%;
    }

    .login-box h2 {
        margin: 20px;
        font-size: 24px;
        color: #333;
        text-align: center;
        }

    .input-group {
        margin-bottom: 15px;
        flex-direction: column;
        width: 2350vw;
    }

    .form-control {
        width: calc(100% - 20px);
        padding: 10px;
        border: 1px solid #ddd;
        border-radius: .25rem;
        font-size: 16px;
    }

    .input-group label {
        display: block;
        margin-bottom: 5px;
        color: #555;
    }

    .input-group input {
        width: 100%;
        padding: 10px;
        border: 1px solid #ddd;
        border-radius: .25rem;
        font-size: 16px;
    }

    .login-button {
        width: 100%;
        padding: 10px;
        background-color: #6b21a8;
        border: none;
        border-radius: .25rem;
        color: white;
        font-size: 16px;
        cursor: pointer;
        transition: background-color 0.3s;
    }

    .button-container {
        display: flex;
        justify-content: center;
    }

    .login-button:hover {
        background-color: #5a189a;
    }
</style>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
